/* Estils generals */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;

  picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 2.65rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 30px;
    }

    .svg-fork {
      width: 60px;
      height: auto;
      cursor: pointer;
      animation: bounce 2.5s ease-in-out infinite;
      transform-origin: bottom center;
      

      &:focus {
        outline: 2px solid #ff6600;
        outline-offset: 4px;
      }
    }
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.swiper {
  max-width: 900px;
  height: 500px;
  margin: 30px auto;
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  width: 50px;
  height: 50px;
  top: 90%;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-button-prev::after {
  content: "<";
}

.swiper-button-next::after {
  content: ">";
}

.clip-estrella {
  clip-path: polygon(
    50% 0%, 
    61% 35%, 
    98% 35%, 
    68% 57%, 
    79% 91%, 
    50% 70%, 
    21% 91%, 
    32% 57%, 
    2% 35%, 
    39% 35%
  );
}

.clip-hexagon {
  clip-path: polygon(
    25% 0%, 
    75% 0%, 
    100% 50%, 
    75% 100%, 
    25% 100%, 
    0% 50%
  );
}

.clip-forma {
  clip-path: polygon(
    20% 0%, 
    80% 10%, 
    100% 50%, 
    80% 90%, 
    20% 100%, 
    0% 50%
  );
}

.clip-estrella, .clip-hexagon, .clip-forma {
  transition: clip-path 0.5s ease;
}


/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 380px;
}
